.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid red;
    overflow: hidden;

}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    padding-top: 20px;
}

.form-field-input {
    font-size: 1.3rem;
    width: 95%;
    height: 30px;
    /* margin: 10px auto; */
    padding: 10px 10px;
}

.form-button {
    margin: 20px auto;
    display: block;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3rem;
}

.select-dropdown {
    font-size: 1.3rem;
    width: 100%;
    height: 50px;
    /* margin: 10px auto; */
    padding: 10px 10px;

}